/* Pagination for trackhub search - backported from E85 */
.list_paginate                                       { text-align:left; font-size: 14px; font-weight:bold; }
.list_paginate .page_button_frame                    { padding: 4px 2px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; background-color:[[BUTTON_BG]]; font-size:14px; }

.list_paginate .first,
.dataTables_paginate .first                          { border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px; }
.list_paginate .last,
.dataTables_paginate .last                           { border-radius: 0 4px 4px 0; -moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0; }
.list_paginate .paginate_button,
.list_paginate .paginate_active,
.dataTables_paginate .paginate_button,
.dataTables_paginate .paginate_active                { color: [[PAGE_TEXT]]; background-color: #99B3FF; border: none; padding: 0px 8px; margin: 0 1px 0 0; cursor: pointer; display: inline-block; line-height: 20px; }
.list_paginate .paginate_button,
.dataTables_paginate .paginate_button                { background-color: [[TINT_BG]]; }
.list_paginate .paginate_button:hover,
.dataTables_paginate .paginate_button:hover          { background-color: #BFD0FF; }
.list_paginate .paginate_button_disabled,
.dataTables_paginate .paginate_button_disabled       { color: [[NEUTRAL_BORDER]]; cursor: default; }
.list_paginate .paginate_button_disabled:hover,
.dataTables_paginate .paginate_button_disabled:hover { background-color: [[TINT_BG]] !important;   }